body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 56, 79);
}

.heart{
    font-size: 300px;
    color: #e00;
    transform-origin: center;
}

.heart:hover{
    cursor: cell;
    animation: beat 0.50s infinite alternate;
}

@keyframes beat{
    to{
        transform: scale(2);
    }
}